/* You can add global styles to this file, and also import other style files */
.base-screen {
    background-color: #0F91A1;
    border-radius: 5px;
    border-style: initial;
    min-height: 700px;
    padding: 15px;
    margin: 10px;
}

.login-screen {
    background-color: #fff;
    border-radius: 5px;
    max-width: 500px;
    margin-left: 10px;
    min-height: 400px;
    padding: 10px;
}

.login-error {
    color: red;
    margin: 5px;
}